.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.table {
    padding-top: 400px;
  }

.skip-link {
position: absolute;
top: -40px;
left: 0;
background: #000000;
color: white;
padding: 8px;
z-index: 100;
}

.skip-link:focus {
top: 0;
}

body { padding-top: 80px; }